/data/config.php
/mobile/data/static_caches/shop_config.php
/mobile/data/convention.php
/mobile/data/install.lock
/mobile/data/updatesql.txt
/mobile/data/wx_new_log.txt
/mobile/data/kindeditor
/mobile/data/oauth
/mobile/data/query_caches
/mobile/data/static
/mobile/data/backup
/mobile/data/flashdata
/mobile/data
