<!-- $Id: article_list.htm 16783 2009-11-09 09:59:06Z liuhui $ -->



{if $full_page}

{include file="pageheader.htm"}

{insert_scripts files="../data/static/js/utils.js,./js/listtable.js"}

<div class="form-div">

  <form action="javascript:searchArticle();" name="searchform" >

      <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />

      <!-- <select name="cat_id" >

        <option value="0">{$lang.all_cat}</option>

        <option value="1">产品分成</option>

        <option value="2">销售分成</option>

        <option value="3">艺术家分成</option>

        <option value="4">厂商分成</option>

          {$cat_select}

      </select> -->

      <select name="typeseach" >

        <option value="5">全部分类</option>

        <option value="1">推荐提成</option>

        <option value="2">设计提成</option>

        <option value="0">销售利润</option>

        <option value="3">型色主义</option>

      </select>
      获得提成用户编号<input type="text" name="usercode" id="yonghuname" />

     <!--  <input type="submit" value="{$lang.button_search}" class="button" /> -->

      <input type="submit" value="搜索" class="button" />
      <input type="button" value="导出当前列表Excel" onclick="exportlist();" class="button" />

  </form>

</div>



<form method="POST" action="" name="listForm" >

<!-- start cat list -->

<div class="list-div" id="listDiv">

{/if}



<table cellspacing='1' cellpadding='3' id='list-table'>

  <tr>

   <!--  <th><input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">

      <a href="javascript:listTable.sort('article_id'); ">{$lang.article_id}</a>{$sort_article_id}</th>

 -->

    <th><a>编号</th>

    <th><a>线下店名称</th>

    <th><a>商品名称</th>

    <th><a>用户名称</th>

    <th><a>状态</th>

    <th><a>总额:{$sum}元</th>

    <th><a>分成类型</th>

    <th><a>获得提出用户</th>
    <th><a>分成日期</th>
    <!-- <th>{$lang.handler}</th> -->

  </tr>

  {foreach from=$fclist item=list}

   <tr>

      <td align="center">{$list.id}</td>

      <td align="center">{$list.xxdname}</td>

      <td align="center">{$list.goods_name}</td>

      <td align="center">{$list.username}</td>
      <td align="center">{if $list.status}<span style="color:red;">已提现</span>{else}未提现{/if}</td>
      <td align="center">{$list.money}元</td>

      <td align="center">{if $list.type eq 0}销售利润{elseif $list.type eq 1}推荐提成{elseif $list.type eq 2}设计分成{elseif $list.type eq 3}型色主义{/if}</td>

      <td align="center">{$list.tcusername}</td>
      <td align="center">{$list.time}</td>

   </tr>

   {foreachelse}

    <tr><td class="no-records" colspan="10">{$lang.no_article}</td></tr>

  {/foreach}

  <tr>&nbsp;

    <td align="right" nowrap="true" colspan="8">{include file="page.htm"}</td>

  </tr>

</table>



{if $full_page}

</div>



<div>

  <input type="hidden" name="act" value="batch" />

 <!--  <select name="type" id="selAction" onchange="changeAction()">

    <option value="">{$lang.select_please}</option>

    <option value="button_remove">{$lang.button_remove}</option>

    <option value="button_hide">{$lang.button_hide}</option>

    <option value="button_show">{$lang.button_show}</option>

    <option value="move_to">{$lang.move_to}</option>

  </select> -->

<!--   <select name="target_cat" style="display:none">

    <option value="0">{$lang.select_please}</option>

    {$cat_select}

  </select> -->



  <!-- <input type="submit" value="{$lang.button_submit}" id="btnSubmit" name="btnSubmit" class="button" disabled="true" /> -->

</div>

</form>

<!-- end cat list -->

<script type="text/javascript" language="JavaScript">

  listTable.recordCount = {$record_count};

  listTable.pageCount = {$page_count};



  {foreach from=$filter item=item key=key}

  listTable.filter.{$key} = '{$item}';

  {/foreach}

  {literal}



  onload = function()

  {

  listTable.query = "query";


  }







 /* 搜索文章 */

 function searchArticle()

 {

    listTable.filter.typeseach = parseInt(document.forms['searchform'].elements['typeseach'].value);

    listTable.filter.usercode = Utils.trim(document.forms['searchform'].elements['usercode'].value);

    listTable.filter.page = 1;

    listTable.loadList();

 }

function exportlist(){
   var typeseach=parseInt(document.forms['searchform'].elements['typeseach'].value);
   var usercode=Utils.trim(document.forms['searchform'].elements['usercode'].value);
  var typestr='';
       if(typeseach!=''){
         typestr+='&&typeseach='+typeseach;
       }
       if(usercode!=''){
         typestr+='&&usercode='+usercode;
       }

  window.open("fengchen.php?act=fencheng_export"+typestr);
}



 {/literal}

</script>

{include file="pagefooter.htm"}

{/if}
