<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->

{include file="pageheadershejishilist.htm"}


<script charset="utf-8" src="../admin/data/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="../admin/data/kindeditor/lang/zh_CN.js"></script>


<div class="main-div">




<form method="post" action="shejishi.php?act=xiugai" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">

<table width="100%" >


 <tr>

    <td class="label">设计师名称:</td>

    <td>

      <input id="sjsname" type="text" name="user_name" maxlength="20" value="{$user_info.user_name}" size="34"/>{$lang.require_field}</td>
      <input name="userid" style="display:none;" type="text" value="{$user_info.user_id}">
  </tr>


  <tr id="ysjfc">



                <td class="label">设计师分成</td>

                <td>

                  <input type="text" name="ysj_fencheng" value="{$user_info.ysj_fencheng}"  size="10" />%



                </td>

      </tr>

  <tr>

            <td class="label">设计师logo</td>

            <td>

              <input type="file" name="pic" size="35" />



            </td>

          </tr>



            <tr>
              <td class="label">设计师详情banner图</td>
              <td>
                <input type="file" name="sjspic" size="35" />
              </td>
            </tr>

          <tr>
            <td class="label">国家</td>
            <td>
              <input type="text" name="country"  value="{$user_info.country}" />
            </td>
          </tr>


          <tr>
            <td class="label">绑定用户编号</td>
            <td>
             <input type="text" name="user_code"  value="{$weiyi_num}" />
            </td>
          </tr>

          <tr>
              <td class="label">设计师简介</td>
              <td>
                  <textarea id="content" name="content"
                      style="width:80%;height:400px;">
                      {$user_info.sjsintro}
                  </textarea>
              </td>
          </tr>




  {foreach from=$extend_info_list item=field}

  <tr>

    <td class="label">{$field.reg_field_name}:</td>

    <td>

    <input name="extend_field{$field.id}" type="text" size="40" class="inputBg" value="{$field.content}"/>

    </td>

  </tr>

  {/foreach}

  {if $user.parent_id}

  <tr>

    <td class="label">{$lang.parent_user}:</td>

    <td><a href="users.php?act=edit&id={$user.parent_id}">{$user.parent_username}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="users.php?act=remove_parent&id={$user.user_id}">{$lang.parent_remove}</a></td>

  </tr>

  {/if}

  {if $affiliate.on eq 1 && $affdb}

  <tr>

    <td class="label">{$lang.affiliate_user}:</td>

    <td>[<a href="users.php?act=aff_list&auid={$user.user_id}">{$lang.show_affiliate_users}</a>][<a href="affiliate_ck.php?act=list&auid={$user.user_id}">{$lang.show_affiliate_orders}</a>]</td>

  </tr>

  <tr>

    <td></td>

    <td>

    <table border="0" cellspacing="1" style="background: #dddddd; width:30%;">

    <tr>

    <td bgcolor="#ffffff">{$lang.affiliate_lever}</td>

    {foreach from=$affdb key=level item=val0}

    <td bgcolor="#ffffff">{$level}</td>

    {/foreach}

    </tr>

    <tr>

    <td bgcolor="#ffffff">{$lang.affiliate_num}</td>

    {foreach from=$affdb item=val}

    <td bgcolor="#ffffff">{$val.num}</td>

    {/foreach}

    </tr>

    </table>

    </td>

  </tr>

  {/if}

  <tr>



       <td colspan="2" align="center">

             <input id="btn" type="submit" value="确定" class="button"   />

        </td>

  </tr>

</table>



</form>

</div>

{insert_scripts files="../js/utils.js,validator.js"}

{literal}


<script type="text/javascript">
    //KindEditor脚本
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('#content', {
        });
    });
</script>


<script language="JavaScript">

<!--



if (document.forms['theForm'].elements['act'].value == "insert")

{

  document.forms['theForm'].elements['username'].focus();

}

else

{

  document.forms['theForm'].elements['email'].focus();

}



onload = function()

{

    // 开始检查订单

    startCheckOrder();

}



/**

 * 检查表单输入的数据

 */

function validate()

{

    validator = new Validator("theForm");

    validator.isEmail("email", invalid_email, true);



    if (document.forms['theForm'].elements['act'].value == "insert")

    {

        validator.required("username",  no_username);

        validator.required("password", no_password);

        validator.required("confirm_password", no_confirm_password);

        validator.eqaul("password", "confirm_password", password_not_same);



        var password_value = document.forms['theForm'].elements['password'].value;

        if (password_value.length < 6)

        {

          validator.addErrorMsg(less_password);

        }

        if (/ /.test(password_value) == true)

        {

          validator.addErrorMsg(passwd_balnk);

        }

    }

    else if (document.forms['theForm'].elements['act'].value == "update")

    {

        var newpass = document.forms['theForm'].elements['password'];

        var confirm_password = document.forms['theForm'].elements['confirm_password'];

        if(newpass.value.length > 0 || confirm_password.value.length)

        {

          if(newpass.value.length >= 6 || confirm_password.value.length >= 6)

          {

            validator.eqaul("password", "confirm_password", password_not_same);

          }

          else

          {

            validator.addErrorMsg(password_len_err);

          }

        }

    }



    return validator.passed();

}

//-->

</script>

{/literal}

{include file="pagefooter.htm"}

